sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints

# add any lightweight imports needed at import-time by RamanLib
ramanspy
seaborn
numpy

# For embedding jupyter notebook into the docs
nbsphinx
ipykernel
